#button {
  display: block;
  position: fixed;
  top: 65px;
  left: -6px;
  width: 2.5em;
  height: 2.5em;
  margin: 1em;
  border-radius: 50%;
  background-image: url(https://www.coothead.co.uk/playlist/images/play-stop-src.png);
  background-size: 100% auto;
  cursor: pointer;
  background-color: black;
}


#button-container {
  position: sticky;
  top: 0;
  z-index: 9990;
}

.pause {
  background-position: 0 -100%;
}

.hide {
  display: none;
}

.remove {
  position: absolute;
  left: -999em;
}

/* cover art */
.frick {
  position: absolute;
  bottom: 20000px;
  width: 10%;
  z-index: -1;
}

/* fake divs */
.vl {
  border-left: 1px solid black;
  height: 2000px;
  position: absolute;
  margin-left: 50%;
  z-index: 100;
}

.blackdiv {
  height: 1000px;
  background-color: black;
}


@media screen and (max-width: 712px) {
  .powderbluediv2 {
    height: 25px;
    width: 100%;
    position: absolute;
    margin-top: 25px;
    background-color: transparent;
  }

html, body {
  background: powderblue;
  overflow-x: hidden;
  z-index: 9580;
}
}

/* YOOOOO WEBKIT SCROLLBAR ALERT LETS GOOOOOOOOOOOOOOOOOO */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  border: 13px solid #4effa5;
}

::-webkit-scrollbar-thumb {
  /* background: linear-gradient(
   45deg, red, #4162ff, #ff00a7
    ); */
  background: rgb(255, 0, 0);
  background: linear-gradient(35deg, rgba(255, 0, 0, 1) 0%, rgba(65, 98, 255, 1) 30%, rgba(67, 180, 227, 1) 51%, rgba(255, 0, 167, 1) 100%);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 0, 167);
  background: linear-gradient(35deg, rgba(67, 180, 227, 1) 0%, rgba(255, 0, 0, 1) 30%, rgba(255, 0, 167, 1) 50%, rgba(65, 98, 255, 1) 100%);
  border-radius: 10px;
}

/* music */
.blue-section {
  background-color: powderblue;
}

body {
  text-align: center;
  font-family: "Montserrat";
    overflow-x: hidden;
}

/* Navbar */
.navbar {
  z-index: 9991;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.1rem;
}


a.nav-link {
  transition: all 0.2s;
}

a.nav-link:hover {
  transform: translate(0, 4px);
 }

.navbar-brand {
  font-size: 1.85rem;
  font-weight: bold;
}

ul {
  text-align: left;
}

/* Title section*/
.title-cfluid {
  z-index: 1;
}

@media screen and (min-width: 502px) {
  .title-cfluid::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #aec9eb;
  width: 100%;
  height: 100%;
  clip-path: polygon(35% 0, 0 0, 0 34%);
  z-index: 0;
  }
}



.title-h1 {
  font-family: "Montserrat";
  line-height: 1.5;
  font-weight: 900;
  position: relative;
  top: 50px;
  animation: heading 0.8s 0.5s forwards;
  transform: translateX(-230%);
}

    @keyframes heading {
      0% {
        transform: translateX(-230%);
      }
      100% {
      transform: translateX(0%);
      }
    }


@media screen and (max-width: 900px) {
  .title-h1 {
    animation: heading 0.75s 0.4s forwards;
  }
  @keyframes heading {
    0% {
    transform: translateX(-130%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}

@media screen and (max-width: 575px) {
  .title-h1 {
    animation: heading 0.9s forwards;
   top: 50px !important;
  }

  .titlep {
    top: 50px !important;
  }
  @keyframes heading {
    0% {
    transform: translateX(-140%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}






.div-h1 {
  width: auto;
  z-index: 5;
}

.title-arrow-svg {
  width: 50%;
}

@media screen and (min-width: 900px) and (max-width: 1370px) {
  .title-arrow-svg {
    width: 70%;
  }
}

@media screen and (min-width: 680px) and (max-width: 899px) {
  .title-arrow-svg {
    width: 80%;
  }
}

@media screen and (min-width: 571px) and (max-width: 679px) {
  .title-arrow-svg {
    width: 100%;
  }
}

@media screen and (max-width: 570px) {
  .title-arrow-svg {
    display: none;
  }
}

@media screen and (min-width: 571px) {
  .fa-chevron-down {
    display: none !important;
  }
}

@media screen and (min-width: 1301px) and (max-width: 1705px) {
  .title-section {
    position: relative;
    bottom: 100px;
  }

  .title-arrow-div {
    z-index: 1;
  }

  .title-cfluid {
    margin-bottom: -80px;
  }
}

@media screen and (min-width: 1001px) {
  .title-h1 {
    font-size: 4.7rem;
  }
}

@media screen and (max-width: 1000px) {
  .title-h1 {
    font-size: 3.2rem;
    margin: auto;
  }
}

.titlep {
  position: relative;
  top: 50px;
}

.android {
  color: #ff3c7f;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.android:hover {
  color: #ff3c7f;
  text-decoration: none;
}

.android::after {
  content: '';
  /* display: block; */
  position: absolute;
  height: 2px;
  width: 100%;
  right: 0;
  bottom: 0;
  background: #ff3c7f;
  transform: scaleX(0);
    transition: transform 0.31s;
  transform-origin: right;

}

.android:hover::after {
transform: scaleX(1);
transform-origin: left;
}


.register-btn, .registerbtn {
  margin-top: 120px;
}

.registerbtn {
  /* position: absolute; */
  position: relative;
  display: inline-block;
  /* top: 86%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  padding: 10px 18px;
  background: #ff3c7f;
  color: white;
  text-decoration: none;
  font-size: 19px;
  transition: 0.3s;
  overflow: hidden;
  border: 1px solid #000;
  opacity: 0;
  animation: btn 2s 0.8s forwards;
  transform: rotateY(-180deg);
}

@keyframes btn {
  0% {
    opacity: 0;
  }
  50% {
    transform: rotateY(0);
  }
  100% {
    opacity: 1;
    transform: rotateY(0);
  }
}

@media screen and (max-width: 1300px) {
  .registerbtn {
    animation: btn 1.46s 1s forwards;
  }
}

@media screen and (max-width: 1000px) {
  .registerbtn {
    animation: btn 1.3s 0.9s forwards;
  }
}

@media screen and (max-width: 575px) {
  .registerbtn {
    animation: btn 1.15s 0.65s forwards;
    transform: rotateY(0);
  }

}

.registerbtn:hover {
  color: white;
  text-decoration: none;
 background: #a41ee9;
}

.registerbtn::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
height: 100%;
background: linear-gradient(90deg, transparent, white, transparent);
transition: 0.3s;
}

.registerbtn:hover::before {
  left: 100%;
}

.spantest {
  position: absolute;
  display: block;
  transition: 0.5s ease;
}

.spantest:nth-child(1) {
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: white;
}

.registerbtn:hover .spantest:nth-child(1) {
  width: 100%;
  transform: translateX(100%);
}

.spantest:nth-child(2) {
  top: 0;
  left: 0;
  width: 2px;
  height: 0;
  background: white;
}

.registerbtn:hover .spantest:nth-child(2) {
 height: 100%;
  transform: translateY(100%);
}

.spantest:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background: white;
}

.registerbtn:hover .spantest:nth-child(3) {
  width: 100%;
  transform: translateX(-100%);
}

.spantest:nth-child(4) {
  bottom: 0;
  right: 0;
  width: 2px;
  height: 0;
  background: white;
}

.registerbtn:hover .spantest:nth-child(4) {
height: 100%;
  transform: translateY(-100%);
}

@media screen and (max-width: 700px) {
  .registerbtn {
    font-size: 16px;
  }
}




.video {
transform: translateY(-120%);
  animation: vidmove 1s forwards;
}

@keyframes vidmove {
  0% {
transform: translateY(-120%);  }
  100% {
  transform: translateY(0);
  }
}

@media screen and (max-width: 1100px) {
  .video {
  transform: translateY(-175%);
    animation: vidmove 1.1s forwards;
  }

  @keyframes vidmove {
    0% {
  transform: translateY(-175%);  }
    100% {
    transform: translateY(0);
    }
  }
}




.title-arrow {
  text-align: center;
  color: dimgray;
  z-index: 1000;
}

.title-arrow:hover {
  color: black;
}

.title-arrow-div {
  position: relative;
  top: 40px;
  animation: mymove 1.5s infinite;
}

@keyframes mymove {
  50% {
    top: 60px;
  }
}

@media screen and (min-width: 1706px) {
  .title-arrow-div {
    position: relative;
    top: 0px;
    animation: mymove 1.5s infinite;
  }

  @keyframes mymove {
    50% {
      top: 20px;
    }
  }
}

@media screen and (min-width: 1300px) and (max-width: 1705px) {
  .title-arrow-div {
    position: relative;
    top: -80px;
    animation: mymove 1.5s infinite;
  }
  @keyframes mymove {
    50% {
      top: -60px;
    }
  }

}

@media screen and (max-width: 900px) {
  .title-arrow-div {
    position: relative;
    top: 0px;
  }

  @keyframes mymove {
    50% {
      top: 20px;
    }
  }
}

/* Clouds*/
.cloud1 {
  position: relative;
  left: 45%;
}

.cloud2 {
  position: absolute;
  left: 195%;
}

.cloud3 {
  position: absolute;
  bottom: 500px;
  right: 1060px;
  z-index: 5;
}

.fa-cloud:hover {
  color: white;
  transition: 0.2s;
}

.fa-cloud {
  color: silver;
}

@media screen and (max-width: 1710px) {
  .cloud1 {
    top: 100px;
    right: 300px;
  }
}


@media screen and (max-width: 1650px) {
  .cloud23 {
    display: none;
  }
}

@media screen and (min-width: 1300px) and (max-width: 1331px) {
  .cloud1 {
position: relative;
left: 650px;
top: 300px;
z-index: 0;
  }

  .video {
    z-index: 1;
  }
}

@media screen and (max-width: 1300px) {
  .cloud {
    display: none;
  }
}

/* cloud animation test */

.cloud1fr {
  animation: cloud 27s infinite linear;
  /* position: absolute; */
}

@keyframes cloud {
  from {
    left: 0%;
    transform: translateX(150%);
  }
  to {
    left: 0%;
    transform: translateX(-240%);
  }
}

/* @keyframes cloud {
  0% {
    position: relative;
    left: 0px;
  }

  50% {
      position: relative;
    left: -800px;
  }

100% {
    position: relative;
  left: 0px;
}
} */

.cloud23 {
  animation: cloud23 18s infinite linear;
  position: absolute;

}

/* @keyframes cloud {
  0% {
    position: relative;
    left: 0px;
  }

  50% {
      position: relative;
    left: -800px;
  }

100% {
    position: relative;
  left: 0px;
}
} */

@keyframes cloud23 {
  from {
    left: -150%;
    transform: translateX(-100%);
  }
  to {
    left: 250%;
    transform: translateX(0%);
  }
}







/* KRABBY PATTY SECRET FORMULA TO MAKE NAVBAR SCROLL TO EXACT LOCATION FIGURED OUT 08/21/20 AT 1:54 AM EST */
#info2 {
  position: relative;
  bottom: 70px;
  height: 70px;
  z-index: -1;
}

/* Info section*/
#info {
  margin: auto;
  padding: 5%;
  margin-top: -70px;
}

.running-img {
  background-image: url("../race.jpg");
  background-color: white;
  background-position: center;
}

.white-i {
  color: powderblue;
  margin-bottom: 20px;
  transition: 0.2s;
}

.white-i-svg {
  width: 22%;
}

@media screen and (min-width: 1750px) and (max-width: 1920px) {
  .white-i-svg {
    width: 22%;
  }
}

@media screen and (min-width: 1590px) and (max-width: 1749px) {
  .white-i-svg {
    width: 25%;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1589px) {
  .white-i-svg {
    width: 29%;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .white-i-svg {
    width: 28%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .white-i-svg {
    width: 30%;
  }
}

@media screen and (min-width: 850px) and (max-width: 991px) {
  .white-i-svg {
    width: 14%;
  }
}

@media screen and (min-width: 790px) and (max-width: 849px) {
  .white-i-svg {
    width: 16%;
  }
}

@media screen and (min-width: 670px) and (max-width: 789px) {
  .white-i-svg {
    width: 12%;
  }
}

@media screen and (min-width: 600px) and (max-width: 669px) {
  .white-i-svg {
    width: 14%;
  }
}

@media screen and (min-width: 516px) and (max-width: 599px) {
  .white-i-svg {
    width: 16%;
  }
}

@media screen and (min-width: 400px) and (max-width: 515px) {
  .white-i-svg {
    width: 18%;
  }
}

.white-i:hover {
  color: #5DADE2 !important;
}

.white-p {
  color: #8f8f8f;
  width: 65%;
  margin: auto;
  padding-top: 10px;
}

.white-h3 {
  font-size: 1.5rem;
  font-weight: 701;
}

.white-col {
  padding: 37px 0;
  border-radius: .25rem;
  border-bottom: solid red;
  opacity: 0.90;
  min-width: 257px;
  background-color: white;
}

@media screen and (max-width: 992px) {
  .white-col {
    opacity: .90;
  }
}

@media screen and (min-width: 992px) and (max-width: 1100px) {
  .white-col {
    right: 30px;
  }
}

@media screen and (min-width: 790px) and (max-width: 991px) {
  .white-div {
    box-sizing: content-box;
    max-width: 70%;
  }
}

/* WHITE COL TRANSITION */
.white-col {
transition: 0.5s;
}

.col1:hover {
  box-shadow: -15px 15px red,
  -30px 30px black,
  -45px 45px powderblue;
  transform: translate(-50px, -50px) scale(1.2);
  opacity: 1;
}


@media screen and (max-width: 1760px) {
 .col1:hover {
transform: translate(0, -20px) scale(1.2);
 }
}

@media screen and (max-width: 1500px) {
 .col1:hover {
   box-shadow: -15px 15px red, -30px 30px black;
 }
}

@media screen and (max-width: 1120px) {
  .col1 {
    transition: 0.4s;
  }
 .col1:hover {
   transform: translate(0, -8px) scale(1.2);
   box-shadow: -10px 10px red, -19px 19px black;
 }
}


.col2:hover {
  box-shadow: 15px 15px red,
  30px 30px black,
  45px 45px powderblue;
  transform: translate(50px, -50px) scale(1.2);
  opacity: 1;
}

@media screen and (max-width: 1760px) {
 .col2:hover {
transform: translate(50px, -20px) scale(1.2);
 }
}
@media screen and (max-width: 1500px) {
 .col2:hover {
   box-shadow: 15px 15px red, 30px 30px black;
 }
}
@media screen and (max-width: 1120px) {
  .col2 {
    transition: 0.4s;
  }
 .col2:hover {
   transform: translate(0, -8px) scale(1.2);
   box-shadow: 10px 10px red, 19px 19px black;
 }
}


/* END WHITE COL TRANSITION */


.white-div {
  margin: 0 125px;
}

@media screen and (max-width: 991px) {
  .white-col {
    margin: 10px 0;
    transition: 0.2s;
  }

  .white-col:hover {
    transform: scale(1);
    box-shadow: none;
  }
}

@media screen and (max-width: 1400px) {
  .white-div {
    margin: auto;
  }
}

#participants2 {
  position: relative;
  bottom: 70px;
  height: 70px;
  z-index: 0;
}

/* Participants section*/
#participants {
  margin: auto;
  z-index: 1;
  margin-top: -70px;
}

.press {
  position: relative;
}

.press::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 1px;
  left: 0;
  background: #aec9eb;
clip-path: polygon(100% 65%, 0 100%, 100% 100%);
z-index: 0;
}

@media screen and (max-width: 600px) {
  .press::after {
    clip-path: polygon(100% 86%, 0 100%, 100% 100%);
  }
}

@media screen and (max-width: 500px) {
  .press::after {
    clip-path: polygon(100% 100%, 0 100%, 100% 100%);
  }
}

h2 {
  font-size: 2.6vw;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 6%;
}

@media screen and (max-width: 1000px) {
  h2 {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 850px) {
  h2 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 470px) {
  h2 {
    font-size: 1.05rem;
  }
  .nameem {
    font-size: 14px;
  }
}


/* was hidden for a lil */
.carousel-item {
  padding: 7% 15%;
  height: 680px;
  overflow: hidden;
}

@media screen and (max-width: 1750px) {
  .carousel-item {
    height: 600px;
    overflow: hidden;
  }
}

@media screen and (max-width: 1585px) {
  .carousel-item {
    height: 550px;
    overflow: hidden;
  }
}

@media screen and (max-width: 1415px) {
  .carousel-item {
    height: 500px;
    overflow: hidden;
  }
}

@media screen and (max-width: 1294px) {
  .carousel-item {
    height: 430px;
    overflow: hidden;
  }
}

@media screen and (max-width: 1200px) {
  .carousel-item {
    height: 395px;
    overflow: hidden;
  }
}

@media screen and (max-width: 1050px) {
  .carousel-item {
    height: 350px;
    overflow: hidden;
  }
}

@media screen and (max-width: 915px) {
  .carousel-item {
    height: 310px;
    overflow: hidden;
  }
}

@media screen and (max-width: 800px) {
  .carousel-item {
    height: 280px;
    overflow: hidden;
  }
}

@media screen and (max-width: 700px) {
  .carousel-item {
    height: 240px;
    overflow: hidden;
  }
}

.carousel-img {
  border-radius: 100%;
  width: 10%;
  transition: 0.4s;
}

.carousel-img:hover {
  transform: scale(0.95);
  box-shadow: 0 0 11px 3px #555;
}

@media screen and (max-width: 1400px) {
  .carousel-img:hover {
    transform: scale(0.95);
    box-shadow: 0 0 11px 2px #555;
  }
}

@media screen and (max-width: 1200px) {
  .carousel-img:hover {
    transform: scale(0.95);
    box-shadow: 0 0 11px 1px #555;
  }
}

@media screen and (max-width: 850px) {
  .carousel-img:hover {
    transform: scale(0.95);
    box-shadow: 0 0 11px 1px #555;
  }
}

@media screen and (max-width: 600px) {
  .carousel-img:hover {
    transform: scale(0.95);
    box-shadow: 0px 0px 8px 1px #555;
  }
}





@media screen and (min-width: 501px) {
  .donelij, .morgan2 {
  margin-top: 30px;
  margin-bottom: -30px;
}
}

@media screen and (max-width: 500px) {
  .donelij {
  margin-top: 50px;
  margin-bottom: -50px;
}

.morgan2 {
margin-top: 35px;
margin-bottom: -35px;
}

.carlos2 {
margin-top: 20px;
margin-bottom: -20px;
}
}

@media screen and (max-width: 470px) {
  .kaelen2 {
  margin-top: 12px;
  margin-bottom: -12px;
}
}

/* dot */
.carousel-indicators li {
  width: 1vw;
  height: 1vw;
  border-radius: 100%;
  margin: 0 7px;
}

@media screen and (max-width: 950px) {
  .carousel-indicators li {
    width: 1.5vw;
    height: 1.5vw;
  }
}

@media screen and (max-width: 500px) {
  .carousel-indicators li {
    width: 1.93vw;
    height: 1.93vw;
  }
}

.carousel-control-next, .carousel-control-prev {
  height: 50%;
  margin: auto;
}

@media screen and (max-width: 992px) {
  .carousel-control-next, .carousel-control-prev {
    font-size: 0.75em;
  }
}

@media screen and (max-width: 600px) {
  .carousel-control-next, .carousel-control-prev {
    font-size: 0.55em;
  }
}

em {
  margin-left: 2%;
}

.school-logo {
  position: relative;
  padding: 3% 0;
  margin: 2% 4%;
  width: 10%;
  transition: transform 0.3s;
  z-index: 10;
}


.pauld {
  width: 15%;
}

@media screen and (max-width: 1010px) {
  .eb, .pauld2 {
    display: none;
  }

  .school-logo {
    width: 19%;
    margin-right: 6%;
    margin-left: 6%;
  }

  .pauld {
    width: 23%;
  }
}

.school-logo:hover {
  transform: scale(1.3);
}

.arrow {
  color: black;
}

#footer2 {
  position: relative;
  bottom: 70px;
  height: 70px;
  z-index: 0;
}

/* Copyright */
#footer {
  padding: 7%;
  margin-top: -70px;
  z-index: 1;
  background-color: white;
}

.footer-i {
  color: black;
  z-index: 1;
}

.footer-i:hover {
  color: #8DB3B8;
}

.footer-p {
  margin-top: 1%;
  color: grey;
}

.footer-p::after {
  content: "Made in Drake's backyard";
  position: relative;
  display: block;
  margin-top: 1.5%;
  font-size: 15px;
}

@media screen and (max-width: 730px) {
  .footer-p::after {
    margin-top: 2.3%;
  }
}

@media screen and (max-width: 480px) {
  .footer-p::after {
    margin-top: 5%;
  }
}

.footer-arrow-svg {
  width: 4vw;
}

@media screen and (min-width: 1000px) and (max-width: 1320px) {
  .footer-arrow-svg {
    width: 6vw;
  }
}

@media screen and (min-width: 700px) and (max-width: 910px) {
  .footer-arrow-svg {
    width: 5vw;
  }
}

@media screen and (min-width: 571px) and (max-width: 699px) {
  .footer-arrow-svg {
    width: 6.5vw;
  }
}

@media screen and (max-width: 570px) {
  .footer-arrow-svg {
    width: 8vw;
  }
}

@media screen and (max-width: 490px) {
  .footer-arrow-svg {
    width: 9vw;
  }
}

.footer-arrow {
  position: relative;
  right: 50%;
  bottom: 75px;
  color: black;
  font-size: 3rem;
  transition: transform 0.4s;
  z-index: 1;
}

@media screen and (max-width: 1000px) {
  .footer-arrow {
    font-size: 2rem;
    position: relative;
    bottom: 60px;
  }
}

.footer-arrow:hover {
  color: #8DB3B8;
  transform: scale(1.3) rotate(360deg);
}


.wave {
  position: absolute;
  left: 0;
  margin-top: -150px;
  z-index: 0;
}

@media screen and (max-width: 1000px) {
  .wave {
    margin-top: -75px;
  }
}

@media screen and (max-width: 505px) {
  .wave {
    margin-top: -62px;
  }
}

@media screen and (max-width: 425px) {
  .wave {
    margin-top: -50px;
  }
}

@media screen and (max-width: 345px) {
  .wave {
    margin-top: -42px;
  }
}


/* Classes */
.container-fluid {
  padding: 6% 6% 2% 6%;
}

@media screen and (max-width: 1700px) {
  .container-fluid {
    padding-bottom: 3%;
  }
}

@media screen and (max-width: 1299px) {
  .container-fluid {
    padding-bottom: 6%;
  }
}

.video {
  position: relative;
  top: 31px;
}

@media (max-width: 1294px) {
  .carousel-indicators {
    bottom: -5%;
  }
}

@media screen and (min-width: 1332px) and (max-width: 1504px) {
  .blue-row {
    height: 700px;
  }

  #myVid, #myVid2 {
     width: 315px;
    height: 567px;
  }

  #myVid {
    width: 290px;
  }

  #myVid {
    margin-left: 60px;
  }

  #myVid2, vid2 {
    position: relative;
    right: 40px;
  }

  .video {
    height: 90%;
  }

  .title-cfluid {
    padding-bottom: 0;
  }

  .title-section {
    bottom: 50px;
  }

  .title-arrow {
    position: relative;
    top: -30px;
  }

  .title-h1 {
    box-sizing: content-box;
    width: 420px;
    font-size: 4rem;
    right: 25px;
  }
}

@media (max-width: 1331px) {
  .vid2 {
    display: none;
  }

  .title-section {
    margin: auto;
  }

  .title-arrow-div {
    top: -80px;
    animation: mymove 1.5s infinite;
  }

  @keyframes mymove {
    50% {
      top: -60px;
    }
  }


}

@media screen and (max-width: 1001px) {
  .video {
    /*  display: none; */
  }
}

@media screen and (min-width: 992px) and (max-width: 1000px) {
  .title-section {
    right: 125px;
  }
}

@media screen and (max-width: 991px) {
  .title-h1 {
    margin-left: 0;
  }
}

@media screen and (max-width: 1000px) {
  #myVid {
    height: 421.2px;
    width: 215.1px;
  }

  .title-section {
    text-align: left;
  }

  .title-h1 {
    box-sizing: content-box;
    width: 400px;
  }

  .title-arrow-div {
    text-align: center;
  }
}

@media screen and (max-width: 850px) {
  #myVid {
    height: 352.8px;
    width: 181.3px;
    margin-top: 5px;
  }

  .title-h1 {
    font-size: 2.5rem;
    width: 85%;
  }
}

@media screen and (min-width: 768px) (max-width: 771px) {
  .title-section {
    margin-left: 30px;
  }
}

@media screen and (min-width: 680px) and (max-width: 767px) {
  .title-h1 {
    width: 50%;
  }
}

@media screen and (min-width: 1505px) and (max-width: 1800px) {
  #myVid, #myVid2 {
    height: 628.2px;
    width: 323.5px;
  }

  #myVid2 {
    width: 349px;
  }
  }


@media screen and (max-width: 700px) {
  .btn {
    font-size: 1rem !important;
  }

  #myVid {
    width: 155.4px;
    height: 302.4px;
    margin-top: 30px;
  }

  .title-h1 {
    font-size: 2rem;
    width: 45%;
    top: 76px;
  }
  .titlep {
    top: 76px;
  }
}

@media screen and (max-width: 670px) {
  #myVid {
    position: relative;
    right: 30px;
  }
}

@media screen and (min-width: 1503px) and (max-width: 1593px) {
  .vid1 {
    left: 61px;
  }

  .vid2 {
    right: 61px;
  }

  .div-h1 {
    box-sizing: content-box;
    width: 446px;
  }
}

/* testing arrow  */
.testingarrow {
  width: 10%;
  margin: auto;
  position: relative;
}

@media screen and (min-width: 1001px) and (max-width: 1331px) {
  .vid1 {
    right: ;
  }

  #myVid {
    height: 466.2px;
    width: 233.5px;
  }

  .title-section {
    text-align: left;
    right: 95px;
    right: 150px;
  }

  .title-h1 {
    box-sizing: content-box;
    width: 500px;
    font-size: 3.85rem;
    top: 30px;
  }
  .registerbtn {
    top: -20px;
  }
}

@media screen and (max-width: 991px) {
  .title-section {
    left: 20px;
  }

  #myVid {
    margin-left: 60px;
  }
}



@media screen and (min-width: 1001px) and (max-width: 1120px) {
  .title-section {
    right: 125px;
  }

  .title-h1 {
    font-size: 3.8rem;
  }
}

@media screen and (max-width: 1175px) {
  .white-div {}
}

@media screen and (max-width: 992px) {
  .video {
    margin-top: 10px;
  }
}

@media screen and (max-width: 575px) {
  .video {
    position: absolute;
    display: none;
  }

  .title-section {
    text-align: center;
    position: relative;
    right: 0;
    margin: auto;
    padding-left: 0;
    padding-right: 20px;
    top: 35px;
  }

  .registerbtn {
    top: -35px;
  }

  .title-h1 {
    width: 100%;
    font-size: 2.5rem;
    box-sizing: border-box;

  }
}

@media screen and (min-width: 1300px) and (max-width: 1301px) {
  .title-section {
    position: relative;
    /* bottom: 0; */
  }

  .title-cfluid {
     padding-bottom: 5%;
  }

  .title-arrow {
    margin-bottom: -50px;
  }
}

/* MAP SECTION KINDA */
iframe {
  max-width: 1382.4px;
  max-height: 777.6px;
  display: block;
  width: 65vw;
  height: calc(.5625 * 65vw);
  margin: auto;
  border: solid 2px gray;
  box-shadow: 5px 10px gray;
  border-radius: 5px;
}

@media screen and (max-width: 1000px) {
  iframe {
    width: 80vw;
    height: calc(.5625 * 80vw);
  }
}

.location {
  background-color: #aec9eb;
  margin-top: -70px;
  padding-bottom: 28px;
}


#location {
  height: 70px;
  position: relative;
  bottom: 70px;
  z-index: -1;
}

.map-h1 {
  font-weight: 900;
  font-size: 3.5rem;
  padding: 15px 0;
}

@media screen and (max-width: 750px) {
  .map-h1 {
    font-size: 2.5rem;
  }

  /*
  .title-arrow-div, .titlep {
    width: 50%;
  } */
}

@media screen and (max-width: 550px) {
  .map-h1 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .title-section, {
    position: relative;
    width: 50%;
  }

  .vid1 {
    position: absolute;
    width: 30%;
    z-index: 1;
    left: 60%;
    margin-top: 50px;
  }

  button {
    z-index: 2;
  }
}

@media screen and (max-width: 600px) {
  .blue-row {
    position: relative;
    right: 10px;
  }

  #myVid {
    bottom: 26px;
    right: 35px;
  }
}

/* navbar scroll / active part */
#top-menu li.active a {
  color: white;
}

li.active a, .nav-link {
  position: relative;
  display: inline-block;
}

  .nav-link::after {
  content: "";
  display: block;
   width: 0;
  height: 2px;
  background-color: white;
  visibility: hidden;
}

.nav-link:hover::after {
  width: 100%;
visibility: visible;
  transition: all 0.3s ease-in-out;
 }

 li.active a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
   visibility: visible;
   transition: 0s all;
}


/* media queries for navbar scroll */

@media screen and (max-width: 991px) {
  .nav-link::after, li.active a::after {
    width: 0;
  }
  a.nav-link {
    transition: none;
  }
  a.nav-link:hover {
    transform: none;
  }
}

@media screen and (min-width: 992px) {
  .contact-a {
    color: slategrey !important;
  }
}

@media screen and (max-width: 991px) {
  li {
    color: rgba(255, 255, 255, 0.5);
  }

  .home-li {
    display: none;
  }

  #top-menu li.active a {
    color: rgba(255, 255, 255, 0.5);
  }

  .nav-link:hover {
    color: white !important;
  }

  .col3, .col4 {
    display: none;
  }
}


@media screen and (min-width: 980px) and (max-width: 1225px) {
  .title-section {
  bottom: 15px;
  }
  .registerbtn {
    top: -40px;
  }
}

@media screen and (min-width: 700px) and (max-width: 979px) {
  .registerbtn {
    top: -40px;
  }
}


.ytpic {
  text-decoration: none;
}

.ytpic:hover {
  text-decoration: none;
}


@media screen and (min-width: 560px) and (max-width: 1299px) {
  .title-arrow-div {
    top: 10px;
  animation: mymove 1.5s infinite;
}

@keyframes mymove {
  50% {
    top: 30px;
  }
}
}

@media screen and (max-width: 559px) {
  .title-arrow-div {
    top: 15px;
  animation: mymove 1.3s infinite;
  width: 50%;
}

@keyframes mymove {
  50% {
    top: 30px;
  }
}
}

@media screen and (max-width: 440px) {
  .title-arrow-div {
    top: 7px;
  animation: mymove 1.3s infinite;
}

@keyframes mymove {
  50% {
    top: 21px;
  }
}
}



/* test */


@media screen and (min-width: 2000px) {
  .title-h1 {
    font-size: 5.5rem;
  }
  .white-i-svg {
    width: 20%;
  }

.white-i {
  font-size: 5.6rem !important;
}

.carousel-control-prev, .carousel-control-next {
  font-size: 1.4rem;
}
p {
  font-size: 20px;
}
.footer-p::after {
  font-size: 18px;
}

.nameem {
  font-size: 22px;
}

.footer-i {
  font-size: 1.75rem;
  margin: 0 5px;
}

.map-h1 {
  font-size: 5rem;
}

iframe {
  max-width: 1520.64px;
  max-height: 855.36px;
  display: block;
  width: 85vw;
  height: calc(.5625 * 85vw);
}

.map-responsive {
  padding-bottom: 2%;
}

.navbar-brand {
  font-size: 50px;
}

.nav-link {
  font-size: 24px;
}

#participants2, #info2, #footer2, #location {
  bottom: 100px;
  height: 100px;
}

#participants, #info, #footer, .location {
  margin-top: -100px;
}

#button {
  top: 95px;
  left: -6px;
  width: 3.5em;
  height: 3.5em;
}

}

@media screen and (min-width: 1150px) {
  .carousel-indicators li {
    margin: 0 10px;
  }
}


@media screen and (min-width: 2050px) {
  .carousel-item {
    height: 740px;
    overflow: hidden;
  }
  .carousel-indicators li {
    margin: 0 13px;
  }
  .titlep {
    font-size: 22px;
  }
}

@media screen and (min-width: 2190px) {
  .carousel-item {
    height: 780px;
    overflow: hidden;
  }
  .nameem {
    font-size: 26px;
  }
  .registerbtn {
    font-size: 21px;
  }
}

@media screen and (min-width: 2290px) {
  .carousel-item {
    height: 840px;
    overflow: hidden;
  }
  .white-h3 {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 2450px) {
  .carousel-item {
    height: 890px;
    overflow: hidden;
  }
  .title-h1 {
    font-size: 5.7rem;
  }
  .registerbtn {
    font-size: 23px;
  }
  .titlep {
    font-size: 23px;
  }
}







/* the end */
